{% extends 'base.html' %}

{% block content %}
    <h1>Comments</h1>
    <div>
        {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.author.username }}</strong> ({{ comment.created_at|date:"Y-m-d H:i" }})</p>
                <p>{{ comment.content }}</p>
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>
    {{ post.title }}
    {% if post %}
        <a href="{% url 'create_comment' post_id=post.id %}">Add Comment</a>
    {% endif %}
{% endblock %}
